<div class="container-fluid main-container">
  <%= render "layouts/admin/admin_navbar" %>
  <div class="col-md-10 content">
    <div class="panel panel-default" id="height-600">
      <div class="panel-heading">
        <%= t ".word" %>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2" id="height-600">
          <h2><%= t ".add_new_word" %></h2>
          <%= form_for [:admin, @word], remote: true do |f| %>
            <div id="div-error-messages" ></div>
            <%= f.text_field :content, placeholder: t(".place_word") %></br>
            <%= f.select :category_id, @categories %>
            <div class="row-answer">
              <%= f.fields_for :answers do |answer| %>
                <%= render "answer_field", f: answer %>
              <% end %>
              <%= link_to_add_fields t(".add_answer"), f, :answers %>
            </div>
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
      <div id="div-words">
        <%= render @words %>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
