<% provide :title, @user.name %>
<div class="container">
  <aside class="col-md-3 user-profile">
    <section class="user_info">
      <h1><%= @user.name %></h1>
      <span><%= @user.email %></span>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <%= render "follow_form" if logged_in? %>
  </aside>
  <div class="col-md-9">
    <div class="panel panel-default content">
      <div class="panel-heading">
        <%= t ".activities" %>
      </div>
      <div class="panel-body">
        <% if @user.activities.any? %>
          <%= render @user.activities.order_by_created %>
        <% end %>
      </div>
    </div>
  </div>
</div>
