<% @user ||= current_user %>
<div class="stats">
  <div class="div-following">
    <%= link_to relationships_path id: @user.id, title: "following" do %>
      <strong id="following" class="stat">
        <%= @user.following.count %>
      </strong>
      <p><%= t ".following" %></p>
    <% end %>
  </div>
  <div class="div-followers">
    <%= link_to relationships_path id: @user.id, title: "followers" do %>
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong>
      <p><%= t ".follower" %></p>
    <% end %>
  </div>
</div>
