<%= provide :button_text, t("search") %>
<%= render "form_search" %>
<div>
  <table class="table table-striped tbl-words">
    <th><%= t ".word" %></th>
    <th><%= t ".meaning" %></th>
    <tbody>
      <%= render @words %>
    </tbody>
    <%= will_paginate %>
  </table>
</div>
