<div class="container-fluid main-container">
  <%= render "layouts/admin/admin_navbar" %>
  <div class="col-md-10 content">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t ".category" %>
      </div>
      <div class="panel-body">
        <div class="row">
          <div id="height150">
            <div class="col-md-4">
              <%= render "shared/error_messages", object: @category %>
            </div>
            <div class="col-md-4">
              <h2><%= t :category %></h2>
              <%= form_for [:admin, @category], remote: true do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name %>
                <%= f.label :duration %><%= t ".minutes" %>
                <%= f.text_field :duration %>
                <%= f.label :number_word_per_lesson %>
                <%= f.text_field :word_per_lesson %>
                <%= f.submit yield(:button_text), class: "btn btn-primary" %>
              <% end %>
              <br/><br/>
              <div class="list"></div>
            </div>
            <div class="col-md-4"></div>
          </div>
            <table class="table container">
              <thead>
                <tr>
                  <th><%= t "name" %></th>
                  <th><%= t "duration" %></th>
                  <th><%= t "word_per_lesson" %></th>
                  <th><%= t "option" %></th>
                </tr>
              </thead>
              <tbody class="list-category">
                <%= render @categories %>
              </tbody>
              <%= will_paginate %>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
