<% provide :button_text, t("search") %>
<%= render "search_form" %>
<div class="container">
  <table class="table table-striped tbl-categories">
    <thead>
      <tr>
        <th><%= t "name" %></th>
        <th><%= t "duration" %></th>
        <th><%= t "word_per_lesson" %></th>
      </tr>
    </thead>
    <tbody class="list-category">
      <%= render @categories %>
    </tbody>
  </table>
</div>
