<% provide :title, @category.name %>
<div class="container">
  <div><%= link_to t("create_lesson"),
    category_lessons_path(params[:id]) %></div>
  <table class="table table-striped tbl-categories">
    <thead>
      <tr>
        <th><%= t "name" %></th>
        <th><%= t "duration" %></th>
        <th><%= t "word_per_lesson" %></th>
      </tr>
    </thead>
    <tbody class="list-category">
      <%= render @category %>
    </tbody>
  </table>
</div>
