<div class="activity-item">
  <%= user_name activity %>
  <%= action_message activity %>
  <%= target_link activity %>
  <%= score_message activity%>
  <%= l activity.created_at, format: :short %>
</div>
